<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Latest compiled and minified CSS -->	
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/font-awesome.min.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<style>
			body {background-color: #eceeef} ;
		</style>
	

		<!-- Optional theme -->
	
		<!-- Latest compiled and minified JavaScript -->

		<script src='../js/jquery.min.js'></script>
	    <script src="../js/bootstrap.min.js"></script>
        <script src='../js/angular.min.js'></script>
        <script src='../js/angular-sanitize.min.js'></script>
        <script src='../js/ng-file-upload.min.js'></script>
        <script src='../js/ng-file-upload-shim.min.js'></script>
        <script src='../js/ng-infinite-scroll.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
		<!-- load angular-moment -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
 


	<title>Pixi: Share the $LOVE$</title>
	</head>
	<body ng-app='pixi' ng-controller='pixiController'>
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<a href="/"><img src="/images/pixi_logo.png"></a>
				</div>
				<div class="col-md-7">
				<br>
			
					<br>
					
				
							<ul class="nav nav-pills nav-fill justify-content-end">
								<li class="nav-item"> <a class="nav-link" href='/about'>About <i class="fa fa-cogs" aria-hidden="true"></i> </span></a></li>
				                <li class="nav-item" ><a class="nav-link active bg-info" href='/pixi'>Share Pictures <i class="fa fa-bullhorn" aria-hidden="true"></i></a></li>
								<li class="nav-item"><a class="nav-link" href='/profile/{{ user._id }}' >My Profile <i class="fa fa-user-circle" aria-hidden="true"></i> </a></li>
				                <li class="nav-item"><a class="nav-link" href='/logout'>Logout <i class="fa fa-sign-out" aria-hidden="true"></i> </a></li> 
				                <li class="nav=item"><a class="nav-link disabled" href="/secret"> Secret <i class="fa fa-user-secret" aria-hidden="true"></i></a></li>
				               
			                </ul>			   
			    </div>
			           

			</div>
		

			<br><br>
			<div class="card card-outline-info mb-3 text-center">
				  <div class="card-block">
				    <blockquote class="card-blockquote">
				      <p align="left"><b>- Pixi is an intentionally vulnerable web application and API intended to help developers, pentesters, builders, breakers and those interested to learn more about web and API security. <br> <br>There are two modes, <a href="/about">OWASP Top 10 mode </a>, where you can perform attacks against the Top 10, or in <a href="/ctf">CTF mode</a> <span class="badge badge-danger">Interactive CTF Coming Soon!</span> where you can earn points for completeting challenges. </b> </p>
				      <footer><h4>Pixi now has an <a href="api-docs/">API on port 8090</a> <span class="badge badge-info">New</span> use <a href="https://www.getpostman.com/">Postman</a> to check it out</h4></footer>
				    </blockquote>
				  </div>
				</div>
			<div class="row" data-ng-init="user_info(); user_likes(); user_loves(); all_users(); total_money();">
			<div class="col-8">
				<div class="card card-inverse card-info"> 
					<div class="card-header text-center">
						<h1 class="card-title">at a glance stats <i class="fa fa-bar-chart" aria-hidden="true"></i></h1>
					</div>
					<div class="card-text">
						<br>
						 <div class="col-8" style="border-right: 1px solid; float:left">
							 <h4> &bull; Pixi repository contains <b>{{ pictures.length }} pictures</b>  </h4>
							 <h4> &bull; Pixi has <b>{{ registered_users }} registered users</b>  </h4>
							 <h4> &bull; Your UserID is <b> {{ user._id }} </b> </h4>
							 <h4> &bull; Your email is <b> {{ user.email }} </b> </h4>
							 <h4> &bull; Your account balance is: {{ user.account_balance | number:2 }} <i class="fa fa-btc" aria-hidden="true"></i> </h4>					  
						 </div>
						 <div class="col-4" style="float:left">
							 <h5> Number of Liked Photos: <b> {{ likes.length }} </b> </h5>
							 <h5> Number of Loved Photos: <b> {{ loves.length }} </b> </h5>
							 <h5> Photos Uploaded: <b> {{ user_pictures.length }} </b> </h5>
							 	 <br><br>
						 </div>
						 <br><br>
						 <h2 class="text-center"> Uploaders have made a total of {{ total_money | number:2 }} <i class="fa fa-btc" aria-hidden="true"></i> </h2>
					</div>
			  	</div>
			</div>
			<div class="col-md-4">
				<div class="card">
 					<div class="card-header">
						<h1 class="card-title">upload photo <i class="fa fa-camera-retro" aria-hidden="true"></i></h1>
					</div>
					<div class="card-block">
				  		<form enctype="multipart/form-data" ng-submit="upload_photo(file)" >		  	
	 					 <alert ng-repeat="alert in alerts" type="alert.type"  close="closeAlert($index)">
		 					 <div class="alert alert-dismissible alert-{{ alert.type }}" role="alert"> {{ alert.msg }}  
		 					 	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		 					 		<span aria-hidden="true">&times;</span>
		 					 	</button>
							</div>
	 					 </alert>
				    	<input type="file" name="filename" id="filename" ng-model="upload.filename" ngf-select ngf-max-size="25MB" required>
				    	<br><br>
				    	<p class="help-block">the more fun and interesting, the more love you can get.</p>
				  	<div class="checkbox">
					    <label>
					      <input type="checkbox" checked="checked"> Random Title?
					    </label>
				  	</div>
				  		<button type="submit" class="btn btn-lg btn-info">Submit</button>
						</form>
					</div>	
				</div>
			</div>
		  </div>
		<br><br>
			<style>
			.fa-placholder {
    				font-family: "FontAwesome", "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; font-size:30pt;}
    		</style>
    		<form ng-submit="search(search_query)" >
			 <label class="sr-only" for="inlineFormInput">Name</label>
			  <input type="text" class="form-control form-control-lg mb-2 fa-placholder" ng-model="search.query" id="search_query" placeholder="&#xf002; search pixi">
			</form>
			 <br><br>
		  	<div class="row" data-ng-init="user_pictures();">
			<div class="col-12">
			<h1> photos <i class="fa fa-picture-o" aria-hidden="true"></i> </h1>
			<br>
			 <alert ng-repeat="alert in alerts" type="alert.type"  close="closeAlert($index)">
		 			<div class="alert alert-dismissible alert-{{ alert.type }}" role="alert"> {{ alert.msg }}  
		 					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		 						<span aria-hidden="true">&times;</span>
		 			 	</button>
					</div>
				 </alert>
				 <div ng-show="clear_search">
					 <button type="submit" ng-click="clear();" class="btn btn-info">clear search</button>
				 </div>
				<b ng-bind-html="search_response"></b><br>
	
			 <div class="card-deck" data-ng-init="all_photos()"> <!-- infinite-scroll="load_more_photos()" infinite-scroll-distance="3" -->
 				<div class="card" style="margin-bottom: 1em;" ng-repeat="picture in pictures">
				    <center><img class="card-img-top" ng-src="{{ picture.filename }}" width="235" height="200" style="margin-top:8px;" alt="Card image cap"></center>
				    <div class="card-block">
				      <h4 class="card-title">{{ picture.name}} </h4>
				      <p class="card-text">{{ picture.description }}
				      <h2 style="float:left; margin-right:1em;">
				      	<i ng-click="like_photo(picture._id)" class="fa fa-heart" aria-hidden="true"></i> 
				      	{{ picture.likes }} </h2> 
				      <h2>
				      	<i class="fa fa-btc" ng-click="love_photo(picture._id)" aria-hidden="true"> </i> 
				      	 {{ picture.money_made | number:2 }}</h2>

				      </p>
				      <p class="card-text"><small class="text-muted">Uploaded by: <a ng-href='user_profile/{{ picture.creator_id }}'>{{ picture.username }}</a> Photo ID: {{ picture._id }} <a ng-href="{{ picture.filename }}">Download File</a> Last updated
				       <time> {{ picture.created_date | amCalendar }} </time> </small></p>
				    </div>
				</div>
			</div>
                    
               </div>
			</div>
	  </div>


	<script>
		var app = angular.module('pixi',['ngSanitize', 'ngFileUpload', 'infinite-scroll', 'ngMaterial', 'angularMoment' ]).
		config(function($sceProvider) {
			$sceProvider.enabled(false)
		}).
		controller('pixiController', function($scope, $http, $sce, Upload){

			$scope.all_photos = function() {
				$http.get('pictures/')
				.then(function success(response) {
					$scope.pictures = response.data;
					//$scope.likes_count = $scope.pictures.likes.length;
				});
			}

			$scope.switch = function() {
				  	alert('hi');
				  	$scope = {
				    cb1: 'tdddddop',
				    cb1: 'ttt'
				  };

				  $scope.message = 'TOP 10';

				  $scope.onChange = function(cbState) {
				  	$scope.message = 'test';
				  };
			}

			$scope.upload_photo = function(file, error, next, $window) {
				console.log("inpicfunc" + $scope.upload.filename );
				if(!$scope.upload.filename) {
					console.log("no file found");
			   	
				} else {
					//console.log(file);
					Upload.upload({
	            	url: 'upload_photo/',
	            	method: 'POST',
	            	data: { 'file': $scope.upload.filename, 
	            			'title': $scope.upload.title, 
	            			'creator_id': $scope.user._id, 
	            			'username': $scope.user.email }
					}).then(function (resp) {
						$scope.all_photos();
						$scope.upload = null;
						$scope.alerts = [
			        		{ type: 'success',  msg: "Photo Successfully Uploaded" },
			        	];
		        	
				    $scope.closeAlert = function(index) {
				        $scope.alerts.splice(index, 1);
				    }
		        }, function (resp) {
		            console.log('Error status: ' + resp.status);
		        	});
				}
			}

			$scope.all_users = function(){
				$http.get('all_users/')
					.then(function success(response){
						$scope.registered_users = response.data;
					})
				
			}


			$scope.search = function(search_query){
				console.log($scope.search.query);
				$http.get('/search/?query=' + $scope.search.query)
					.then(function success(response){
						$scope.pictures = null;
						$scope.pictures = response.data;
						$scope.search_response = null;
						$scope.clear_search = 1;
						$scope.alerts = [
				        	{ type: 'success',  msg: $scope.pictures.length + " photos found for " + $scope.search.query },
				        ];
				        
				        }, function error(response) {
						$scope.search_response = response.data;
						$scope.pictures = null;
						$scope.alerts = [
				        	{ type: 'danger',  msg: $scope.pictures.length + " photos found for " + $scope.search.query },
				        	];
				       })
					}
				
			
			$scope.clear = function() {
				$scope.all_photos();
				$scope.clear_search = null;
				$scope.alerts = null;
			}

			$scope.user_info = function(){
				$http.get('user_info/')
					.then(function success(response){
						$scope.user = response.data[0];
					})
				
			}

			$scope.user_likes = function(){
				$http.get('user_likes/')
					.then(function success(response){
						$scope.likes = response.data;
					})
				
			}

			$scope.user_loves = function(){
				$http.get('user_loves/')
					.then(function success(response){
						$scope.loves = response.data;
					})
				
			}
			$scope.user_pictures = function(){
				$http.get('user_pictures/')
					.then(function success(response){
						$scope.user_pictures = response.data;
					})
				
			}	
			$scope.like_photo = function(photo){
				console.log('in like');
				$http.get('like_photo/'+ photo)
					.then(function success(response){
						$scope.all_photos();
						$scope.user_info();
						$scope.user_likes();
						$scope.user_loves();
					})
				
			}			
			$scope.love_photo = function(photo){
				$http.get('love_photo/' + photo)
					.then(function success(response){
						$scope.all_photos();
						$scope.user_info();
						$scope.user_likes();
						$scope.user_loves();
					})
				
			}	

			$scope.total_money = function(){
				$http.get('total_money/')
					.then(function success(response){
						$scope.total_money = response.data;
					})
				
			}	

			$scope.load_more_photos = function(){
				$http.get('pictures/')
				.then(function success(response) {
					$scope.pictures = response.data;
					//$scope.likes_count = $scope.pictures.likes.length;
				});
				
			}	

			$scope.picture_likes = function(picture_id){
				//console.log(picture_id)
				$http.get('picture/' + picture_id + '/likes')
					.then(function success(response){
						console.log(response.data);
						$scope.individual_picture_likes = response.data;
					})
				
			}
		});
	</script>

	</body>
</html>
