<!DOCTYPE html>
<html lang="en">
	<head>	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/font-awesome.min.css">
		<style>
			body {background-color: #eceeef} ;
		</style>
	
	
		<!-- Latest compiled and minified JavaScript -->

		<script src='../js/jquery.min.js'></script>
	    <script src="../js/bootstrap.min.js"></script>
        <script src='../js/angular.min.js'></script>
        <script src='../js/angular-sanitize.min.js'></script>
        <script src='../js/ng-file-upload.min.js'></script>
        <script src='../js/ng-file-upload-shim.min.js'></script>
        <script src='../js/ng-infinite-scroll.min.js'></script>

		<title>Pixi: Share the $LOVE$</title>
	</head>
	<body ng-app='pixi' ng-controller='pixiProfileController'>
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<a href="/"><img src="/images/pixi_logo.png"></a>
				</div>
							<div class="col-md-7">
					<br><br><br>	

					
				
							<ul class="nav nav-pills nav-fill justify-content-end">
								<li class="nav-item"> <a class="nav-link" href='/about'>About <i class="fa fa-cogs" aria-hidden="true"></i> </span></a></li>
				                <li class="nav-item" ><a class="nav-link" href='/pixi'>Share Pictures <i class="fa fa-bullhorn" aria-hidden="true"></i></a></li>
								<li class="nav-item"><a class="nav-link active bg-info" href='/profile/'{{user._id}}>My Profile <i class="fa fa-user-circle" aria-hidden="true"></i> </a></li>
				                <li class="nav-item"><a class="nav-link" href='/logout'>Logout <i class="fa fa-sign-out" aria-hidden="true"></i> </a></li> 
				                <li class="nav=item"><a class="nav-link disabled" href="/secret"> Secret <i class="fa fa-user-secret" aria-hidden="true"></i></a></li>
			                </ul>
			     
			   
			    </div>
			</div>
			<br>
			<br>
		
			<div class="row" data-ng-init="user_info(); user_likes(); user_loves(); user_pictures();">
				<div class="col-8">
					<h1> profile <i class="fa fa-user" aria-hidden="true"></i> </h1>
					{{ alerts }}
					<br>
					 <alert ng-repeat="user_alert in user_alerts" type="user_alert.type"  close="closeAlert($index)">
		 			<div class="alert alert-dismissible alert-{{ user_alert.type }}" role="alert"> {{ user_alert.msg }}  
		 					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		 						<span aria-hidden="true">&times;</span>
		 			 	</button>
					</div>
				 </alert>
					<form>
					  <div class="form-group">
					    <label for="email">Email address</label>
					    <input type="email" class="form-control" id="email" ng-model="user_upd.email" aria-describedby="emailHelp" placeholder="{{ user.email }}">
					    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Password</label>
					    <input type="password" class="form-control"  ng-model="user_upd.password "id="password" placeholder="Password">
					  </div>
					  <div class="form-group">
					    <label for="username">Name</label>
					    <input type="text" class="form-control" id="name" ng-model="user_upd.name" aria-describedby="emailHelp" placeholder="{{ user.name }}">
					    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock" aria-hidden="true"></i></i> admin: {{ user.is_admin }} </small>
					  </div>
						<h6> Your account balance is {{ user.account_balance | number:2 }} </h6>
					  <button type="submit"  ng-click="update_user_info(user._id)" class="btn btn-info">Submit</button>
					</form>
				</div>
				<div class="col-4">
				<br><br>
					<center><img ng-src= "{{ user.pic }}" width="200" height="200" class="rounded-circle" style="margin:3em"></center>
					<h6> <center> <i class="fa fa-id-card" aria-hidden="true"></i> {{ user.name }} </center> </h6>
				</div>	
			</div>
			<div class="row">
				<div class="col-12" data-ng-init="user_pictures();">
					<h1> my photos </h1>
					<alert ng-repeat="picture_alert in picture_alerts" type="picture_alert.type"  close="closeAlert($index)">
		 					 <div class="alert alert-dismissible alert-{{ picture_alert.type }}" role="alert"> {{ picture_alert.msg }}  
		 					 	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		 					 		<span aria-hidden="true">&times;</span>
		 					 	</button>
							</div>
	 				</alert>


				<div class="card-deck">
				<div class="card col-3" style="margin-bottom: 1em;" ng-repeat="picture in pictures">
				    <img class="card-img-top" ng-src="../{{ picture.filename }}" width="235" height="200" style="margin-top:8px;"  alt="Card image cap">
				    <div class="card-block">
				      <h4 class="card-title">{{ picture.name}} {{ picture._id }} </h4>
				      <p class="card-text">{{ picture.description }}
				      <h2 style="float:left; margin-right:1em;">
				      	<i ng-click="like_photo(picture._id)" class="fa fa-heart" aria-hidden="true"></i> 
				      	{{ picture.likes }} </h2> 
				      <h2>
				      	<i class="fa fa-btc" ng-click="love_photo(picture._id)" aria-hidden="true"> </i> 
				      	 {{ picture.money_made | number:2 }}</h2>
				      	     <a href="#" ng-click="user_delete_photo(picture._id)" class="btn btn-info">Delete Photo <i class="fa fa-trash" aria-hidden="true"></i> </a>
				    </div>
				</div>
			</div>
				</div>
			</div>
	  </div>


	<script>
		var app = angular.module('pixi',['ngSanitize', 'ngFileUpload','infinite-scroll' ]).
		controller('pixiProfileController', function($scope, $http, $sce, Upload){

			$scope.all_photos = function() {
				$http.get('/pictures/')
				.then(function success(response) {
					$scope.pictures = response.data;
					//console.log($scope.pictures);
				});
			}


			$scope.user_info = function(){
				$http.get('/user_info/')
					.then(function success(response){
						$scope.user = response.data[0];
					})		
			}

			$scope.update_user_info = function(user){
				console.log($scope.user_upd.email);
				console.log(user);
				$http({
					method: 'PUT',
					url: '/user_info/' + user,
					data: { 
							'email': $scope.user_upd.email, 
	            			'password': $scope.user_upd.password, 
	            			'name': $scope.user_upd.name
	            		}
	            		}).then(function success(response){
							console.log('in success');
							$scope.user_alerts = [
			        		{ type: 'success',  msg: "Profile Updated " + ($scope.user_upd.email || '') + ' ' + ($scope.user_upd.password || '') + ' ' + ($scope.user_upd.name || '') },
			        		];
				        	$scope.closeAlert = function(index) {
					        	$scope.alerts.splice(index, 1);
					    	}
			        	
						})	
				}
	


			$scope.user_delete_photo = function(photo){
				$http.get('/user_delete_photo/' + photo)
					.then(function success(response){

						console.log('in delete');
						$scope.user_pictures();
						$scope.picture_alerts = [
			        		{ type: 'success',  msg: "Buh-Bye, Photo Deleted! " },
			        	];
		        	
				    	$scope.closeAlert = function(index) {
				        $scope.alerts.splice(index, 1);
				    }
					})		
			}

			$scope.user_likes = function(){
				$http.get('/user_likes/')
					.then(function success(response){
						$scope.likes = response.data;
					})				
			}

			$scope.user_loves = function(){
				$http.get('/user_loves/')
					.then(function success(response){
						$scope.loves = response.data;
					})				
			}

			$scope.user_pictures = function(){
				$http.get('/user_pictures/')
					.then(function success(response){
						$scope.pictures = response.data;
					})				
			}	

			$scope.total_money = function(){
				$http.get('/admin/total_money/')
					.then(function success(response){
						$scope.total_money = response.data;
					})			
			}	

			$scope.all_users = function(){
				$http.get('/admin/all_users/')
					.then(function success(response){
						$scope.registered_users = response.data;
					})				
			}

			$scope.picture_likes = function(picture_id){
				//console.log(picture_id)
				$http.get('/picture/' + picture_id + '/likes')
					.then(function success(response){
						console.log(response.data);
						$scope.individual_picture_likes = response.data;
					})			
			}

		});
	</script>

	</body>
</html>
